body {
  background-color:rgb(41, 38, 38);
  margin: 0 auto;
}

div#telemetry {
  font-family: monospace;
  color: rgb(54, 57, 63);
  float: right;
}

div.telemetry-name {
  display: inline-block;
}

div.telemetry-value {
  display: inline-block;
}

div#header {
  background-color: white;
  padding: 0.5em;
  border-bottom: 1px solid rgb(41, 38, 38);
}

button#start {
  padding: 0.5em;
  font-family: monospace;
  font-size: 1.5em;
}

div.log-cell {
  color: rgb(216, 213, 213);
  display: table-cell;
  padding: 0.25em;
}

div.log-entry-row {
  display: table-row;
}

div.log-entry {
  padding-bottom: 0.5em;
}

div#log {
  display: table;
  font-family: monospace;
  padding-top: 0.25em;
  margin-bottom: 0.25em;  
}


div.log-timestamp {
  color: rgb(216, 213, 213);
}

div.log-level-info {
  color: rgb(118, 210, 118);
}

div.log-level-debug {
  color:rgb(18, 193, 224);
}

div.log-level-trace {
  color: rgb(224, 168, 255);
}

div.log-level-error {
  color: rgb(235, 70, 70);
}

div.log-level-runtime {
  color: rgb(255, 255, 255);
}

div.log-timestamp {
  color:rgb(158, 141, 141);
  /* display: none; */
}

div.log-message {
  color: rgb(216, 213, 213);
}

